<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
        {% load staticfiles %}
        <title>教学服务系统</title>
        <!-- 使用本地的样式与js文件 -->
        <script src="{%  static 'js/jquery-3.2.1.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'Semantic-UI-master/dist/semantic.min.css' %}">
        <script type="text/javascript" src="{% static 'Semantic-UI-master/dist/semantic.min.js' %}"></script>
        <script>
            $(document).ready(function(){
                $('.ui .item[data-tab]').on('click', function() {
                    $('.ui .item[data-tab]').removeClass('active');
                    $(this).addClass('active');
                    var tab = $(this).attr("data-tab");
                    $(".tab.segment").removeClass("active");
                    $(".tab.segment[data-tab=\"" + tab + "\"]").addClass("active");
                });
            });
            //通过button的value来定位对应的modal的id，实现modal.show
            function showModal(e) {
               $("#"+e.value).modal('show');
            }
        </script>
        <script>
            //初始化个人信息表
            function init() {
                var personal_info = [];
                personal_info[0] = "王泽杰";
                personal_info[1] = 315010;
                personal_info[2] = "计算机科学与技术学院";
                personal_info[3] = "软件工程";
                personal_info[4] = "315010@zju.edu.cn";
                personal_info[5] = "18888888888";
                var td_id;
                var input_id;
                for (var i = 0; i < 6; i++) {
                    td_id = "info" + i;
                    input_id = "modify_info" + i;
                    $("td[id="+ td_id +"]").text(personal_info[i]);
                    $("input[id="+ input_id +"]").val(personal_info[i]);
                }
            }

            //修改个人信息表
            function modify_info() {
                var td_id;
                var input_id;
                for(var i = 0; i < 6; i++){
                    td_id = "info" + i;
                    input_id = "modify_info" + i;
                    document.getElementById(td_id).innerHTML = document.getElementById(input_id).value;
                }
            }
        </script>

</head>

<body onload="init()">
    <!-- 左侧导航栏 -->
    <div class="ui inverted left fixed vertical sidebar menu " id="left_sidebar">
        <div class="ui container">
            <p></p>
            <!--img class="ui avatar tiny centered image" src="{% static 'img/6.jpg' %}"-->
            <p></p>
            <a class="item" data-tab="home">
                <i class="student icon"></i>个人信息</a>
            <a class="active item" data-tab="work"><i class="table icon"></i>课程表</a>
            <a class="item" data-tab="message"><i class="announcement icon"></i>
                <div class="ui red label">3</div>消息
            </a>
            <a class="item" data-tab="search"><i class="search icon"></i>站内搜索</a>
            <a class="item" data-tab="liuyan"><i class="edit icon"></i>留言板</a>
        </div>
    </div>

<!--底部导航栏
    <div class="ui visible inverted bottom fixed menu">
        <div class="ui container">
            <a class="item" href="http://10.202.78.12/">浙江大学现代教务管理系统</a>
            <a class="item" href="https://mail.zju.edu.cn/">浙江大学邮件系统</a>
            <a class="item" href="http://cc98.org">cc98论坛</a>
        </div>
    </div-->


<div class="pusher">
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <!--顶部菜单栏-->
    <div class="ui visible red top large menu sidebar">
        <a class="item" onclick="$('#left_sidebar').sidebar('toggle');">菜单</a>
        <div class="right menu">
            <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="搜索课程或教师">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <a class="item">退出</a>
    </div>

<!-- 个人信息tab -->
    <div class="ui bottom attached tab segment" data-tab="home">
        <div class="ui container">
            <table class="ui celled padded selectable table segment">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>姓名</td>
                        <td id="info0"></td>
                    </tr>
                    <tr>
                        <td class="collapsing" >学号</td>
                        <td id="info1"></td>
                    </tr>
                    <tr>
                        <td class="collapsing">学院</td>
                        <td id="info2"></td>
                    </tr>
                    <tr>
                        <td class="collapsing">专业</td>
                        <td id="info3"></td>
                    </tr>
                    <tr>
                        <td class="collapsing">电子邮箱</td>
                        <td id="info4"></td>
                    </tr>
                    <tr>
                        <td class="collapsing">联系方式</td>
                        <td id="info5"></td>
                    </tr>
                </tbody>
            </table>
            <a class="item" data-tab="modify_info">
                <div class="ui top floated small primary labeled icon button"><i class="user icon"></i> 编辑个人信息</div>
            </a>
        </div>
    </div>

    <!--修改个人信息tab-->
    <div class="ui attached tab segment" data-tab="modify_info">
        <div class="ui container">
            <table class="ui celled padded selectable table segment">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>姓名</td>
                        <td>
                            <div class="ui left input">
                                <label><input type="text" id="modify_info0"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">学号</td>
                        <td>
                            <div class="ui left input">
                                <label><input type="text" id="modify_info1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">学院</td>
                        <td>
                            <div class="ui left input">
                                <label><input type="text" id="modify_info2"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">专业</td>
                        <td>
                            <div class="ui left input">
                                <label><input type="text" id="modify_info3"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">电子邮箱</td>
                        <td>
                            <div class="ui left input">
                                <label><input type="text" id="modify_info4"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">联系方式</td>
                        <td>
                            <div class="ui left input">
                                <label><input type="text" id="modify_info5"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--a class="item" data-tab="home"-->
            <a class="item" data-tab="home" onclick="modify_info()">
                <div class="ui top floated small primary labeled icon button"><i class="user icon"></i>保存修改</div>
            </a>
        </div>
    </div>

    <!--学生课表tab-->
    <div class="ui bottom attached active tab segment" data-tab="work" >
        <div class="ui link card" onclick="window.location.href='student_courses'">
            <div class="floating ui red label">3</div>
            <div class="content">
                <div class="header">软件需求工程</div>
                <div class="meta">
                <a>邢卫</a>
                <a></a>
                <a>刘玉生</a>
                </div>
                <div class="description">周一6，7，8</div>
            </div>
            <div class="extra content">
              <span> 专业课 </span>
            </div>
        </div>
        <div class="ui link card">
            <div class="content">
                <div class="header">软件需求工程</div>
                <div class="meta">
                    <a>邢卫</a>
                    <a></a>
                    <a>刘玉生</a>
                </div>
                <div class="description">周一6，7，8</div>
            </div>
            <div class="extra content">
                <span> 专业课 </span>
            </div>
        </div>

        <div class="ui link card">
            <div class="content">
                <div class="header">软件需求工程</div>
                <div class="meta">
                    <a>邢卫</a>
                    <a></a>
                    <a>刘玉生</a>
                </div>
                <div class="description">周一6，7，8</div>
            </div>
            <div class="extra content">
                <span> 专业课 </span>
            </div>
        </div>

        <div class="ui link card">
            <div class="content">
                <div class="header">软件需求工程</div>
                <div class="meta">
                    <a>邢卫</a>
                    <a></a>
                    <a>刘玉生</a>
                </div>
                <div class="description">周一6，7，8</div>
            </div>
            <div class="extra content">
                <span> 专业课 </span>
            </div>
        </div>

        <div class="ui link card">
            <div class="content">
                <div class="header">软件需求工程</div>
                <div class="meta">
                    <a>邢卫</a>
                    <a></a>
                    <a>刘玉生</a>
                </div>
                <div class="description">周一6，7，8</div>
            </div>
            <div class="extra content">
                <span> 专业课 </span>
            </div>
        </div>
    </div>



    <!--全局消息tab-->
    <div class="ui bottom attached tab segment" data-tab="message">
        <div class="ui container">
            <div class="ui icon message">
                <i class="inbox icon"></i>
                <div class="content">
                    <div class="header">操作系统课程有新通知</div>
                    <p>2017.12.12, 20:00</p>
                </div>
                <button class="ui button" value="m1" onclick="showModal(this)">详情</button>
            </div>
        </div>
    </div>

<!--全局搜索tab（考虑弃用)-->
<div class="ui bottom attached fixed tab segment" data-tab="search">
  <div class="ui container">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="搜索……">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>

    <!--留言板tab-->
<div class="ui bottom attached tab segment" data-tab="liuyan">
    <div class="ui container">
        <div class="ui comments">
            <div class="comment">
              <a class="avatar">
                <img src="{% static '/img/4.jpg' %}">
              </a>
              <div class="content">
                <a class="author">游客8888</a>
                <div class="metadata">
                  <div class="date">2 天前</div>
                </div>
                <div class="text">垃圾网站 </div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="{% static '/img/4.jpg' %}">
              </a>
              <div class="content">
                <a class="author">游客8888</a>
                <div class="metadata">
                  <div class="date">2 天前</div>
                </div>
                <div class="text">垃圾网站 </div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="{% static '/img/4.jpg' %}">
              </a>
              <div class="content">
                <a class="author">游客8888</a>
                <div class="metadata">
                  <div class="date">2 天前</div>
                </div>
                <div class="text">垃圾网站 </div>
              </div>
            </div>
          </div>
    </div>
</div>





</div>

<div class="ui test modal" id="m1">
    <i class="close icon"></i>
    <div class="header">
        操作系统课程通知
    </div>
    <div class="content">
        <div class="right">
            <div class="ui header">作业5已经发布，ddl为本周日晚上12点，请大家尽快完成</div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black button" id="exit">
          关闭
        </div>
    </div>
</div>


  </body>
</html>

