<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> {% load staticfiles %}
    <title>课程论坛</title>
    <!-- 使用本地的样式与js文件 -->
    <script src="{%  static 'js/jquery-3.2.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Semantic-UI-master/dist/semantic.min.css' %}">
    <script type="text/javascript" src="{% static 'Semantic-UI-master/dist/semantic.min.js' %}"></script>
    <script>
        //获取当前日期、时间
        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var seperator2 = ":";
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                + " " + date.getHours() + seperator2 + date.getMinutes()
                + seperator2 + date.getSeconds();
            return currentdate;
        }
        //初始化贴子内容
        var floor_num = 10;     //楼层数，从后台获取
        var title = '摸鱼求约';     //贴子主题，从后台获得
        function init() {
            document.getElementById('tittle').innerHTML = title;
            document.getElementById('tittle_h3').innerHTML = "主题：" + title;
            var container = document.getElementById('container1');  //获取贴子容器
            var cur_floor, floor_id, table, tbody;
            var tr = [];
            var td = [];
            var h4;
            var div = [];
            var name, type, content, reply_time;
            for (var i = 0; i < floor_num; i++) {
                for (var j = 0; j < 4; j++)
                    td[j] = document.createElement('td');   //创建四个单元格
                cur_floor = i + 1;  //当前楼层
                name = '邢卫';    //层主姓名，从后台获得
                type = '教师';    //层主类别，从后台获得
                content = '有人去网吧吗？';   //贴子内容，从后台获得
                reply_time = '2017/12/12, 20:00:00';    //发表时间，从后台获得
                floor_id = 'floor' + cur_floor;
                table = document.createElement('table');
                table.className = 'ui celled striped table';
                table.setAttribute('id', floor_id);
                container.appendChild(table);   //创建楼层并加入容器中
                tbody = document.createElement('tbody');
                table.appendChild(tbody);       //创建表体并加入table中
                tr[0] = document.createElement('tr');
                tr[0].className = 'top aligned';
                tbody.appendChild(tr[0]);       //创建第一行并加入tbody中，设置向上对齐
                tr[0].appendChild(td[0]);
                tr[0].appendChild(td[1]);       //将两个单元格加入第一行中
                td[0].className = 'two wide';   //设置第一个单元格宽度
                h4 = document.createElement('h4');
                h4.className = 'ui image header';
                td[0].appendChild(h4);      //创建层主信息栏并加入第一个单元格
                h4.innerHTML = '<img src="{% static 'Semantic-UI-master/examples/assets/images/avatar/tom.jpg' %}" class="ui large rounded image">'   //添加头像
                div[0] = document.createElement('div');
                div[0].className = 'content';
                h4.appendChild(div[0]);     //创建层主信息div，加入h4中
                div[0].innerHTML = name;
                div[1] = document.createElement('div');
                div[1].className = 'sub header';
                div[0].appendChild(div[1]);     //创建层主类别div并加入信息div中
                div[1].innerHTML = type;
                td[1].setAttribute('style', 'height: 150px;');  //设置楼层高度
                td[1].innerHTML = content;
                //以下设置第二行，即回复时间与楼层数
                tr[1] = document.createElement('tr');
                tbody.appendChild(tr[1]);   //创建第二行并加入tbody
                tr[1].appendChild(td[2]);
                tr[1].appendChild(td[3]);   //将第3、4个单元格加入第二行
                td[2].className = 'two wide';   //设置第3个单元格宽度与第1个同宽
                td[2].innerHTML = reply_time;
                td[3].innerHTML = cur_floor + '楼';
            }
        }
        //跟贴
        function reply() {
            //前半部分为静态刷新，实际可以直接进行后半部分的加入数据库操作，然后刷新页面即可
            var container = document.getElementById('container1');  //获取贴子容器
            var cur_floor, floor_id, table, tbody;  //当前楼层，楼层id（html中）
            var tr = [];
            var td = [];
            var h4;
            var div = [];
            var name, type, content, reply_time;
            for (var j = 0; j < 4; j++)
                td[j] = document.createElement('td');   //创建四个单元格
            cur_floor = floor_num + 1;  //当前楼层
            name = '邢卫';    //层主姓名，从当前登录用户数据中获得
            type = '教师';    //层主类别，从当前登录用户数据中获得
            content = document.getElementById('reply_text').value;   //贴子内容
            reply_time = getNowFormatDate();    //发表时间，直接获取当前时间
            floor_id = 'floor' + cur_floor;
            table = document.createElement('table');
            table.className = 'ui celled striped table';
            table.setAttribute('id', floor_id);
            container.appendChild(table);   //创建楼层并加入容器中
            tbody = document.createElement('tbody');
            table.appendChild(tbody);       //创建表体并加入table中
            tr[0] = document.createElement('tr');
            tr[0].className = 'top aligned';
            tbody.appendChild(tr[0]);       //创建第一行并加入tbody中，设置向上对齐
            tr[0].appendChild(td[0]);
            tr[0].appendChild(td[1]);       //将两个单元格加入第一行中
            td[0].className = 'two wide';   //设置第一个单元格宽度
            h4 = document.createElement('h4');
            h4.className = 'ui image header';
            td[0].appendChild(h4);      //创建层主信息栏并加入第一个单元格
            h4.innerHTML = '<img src="{% static 'Semantic-UI-master/examples/assets/images/avatar/tom.jpg' %}" class="ui large rounded image">'   //添加头像
            div[0] = document.createElement('div');
            div[0].className = 'content';
            h4.appendChild(div[0]);     //创建层主信息div，加入h4中
            div[0].innerHTML = name;
            div[1] = document.createElement('div');
            div[1].className = 'sub header';
            div[0].appendChild(div[1]);     //创建层主类别div并加入信息div中
            div[1].innerHTML = type;
            td[1].setAttribute('style', 'height: 100px;');  //设置楼层高度
            td[1].innerHTML = content;
            //以下设置第二行，即回复时间与楼层数
            tr[1] = document.createElement('tr');
            tbody.appendChild(tr[1]);   //创建第二行并加入tbody
            tr[1].appendChild(td[2]);
            tr[1].appendChild(td[3]);   //将第3、4个单元格加入第二行
            td[2].className = 'two wide';   //设置第3个单元格宽度与第1个同宽
            td[2].innerHTML = reply_time;
            td[3].innerHTML = cur_floor + '楼';
            floor_num++;
            //将信息加入数据库，主题：title，姓名：name，类别：type，时间：reply_time，楼层：cur_floor，内容：content
            //......
            alert('回复成功');
        }
    </script>
</head>

<body onload="init()">
    <div class="ui inverted left fixed vertical sidebar menu" id="left_sidebar">
        <div class="ui container">
            <a class="item" data-tab="syllabus" onclick="window.location.href='student_courses?1'">
                <i class="home icon"></i>课程大纲
            </a>
            <a class="item" data-tab="homework" onclick="window.location.href='student_courses?2'">
                <i class="file text outline icon"></i>课程作业</a>
            <a class="item" data-tab="message" onclick="window.location.href='student_courses?3'">
                <i class="announcement icon"></i>
                <div class="ui red label">3</div>课程通知
            </a>
            <a class="item" data-tab="teacher_list" onclick="window.location.href='student_courses?4'">
                <i class="users icon"></i>教师信息</a>
            <a class="item active" data-tab="forum" onclick="window.location.href='student_courses?5'">
                <i class="comments outline icon"></i>课程论坛</a>
            <a class="item" data-tab="resources" onclick="window.location.href='student_courses?6'">
                <i class="folder open outline icon"></i>课程资源</a>
            <a class="item" data-tab="return" onclick="window.location.href='http://127.0.0.1:8000/index'">
                <i class="reply icon"></i>返回个人主页</a>
            <a class="item" data-tab="logout" onclick="window.location.href='http://127.0.0.1:8000'">
                <i class="sign out icon"></i>退出系统</a>
        </div>
    </div>

    <div class="pusher">
        <div class="ui breadcrumb borderless menu">
            <a class="item" onclick="$('#left_sidebar').sidebar('toggle');">软件需求工程
                <span>
                    <i class="right chevron icon divider"></i>
                </span>
            </a>
            <a class="item" onclick="window.location.href='student_courses?1'">课程论坛
                <span>
                    <i class="right chevron icon divider"></i>
                </span>
            </a>
            <a class="item" id="tittle"></a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <a class="ui item">登出 </a>
            </div>
        </div>
        <div class="ui container" style='width: 90%;' id="container1">
            <h3 class="ui block header" id="tittle_h3">

            </h3>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui container" style='width: 90%;' id="container2">
            <div class="ui form">
                <div class="field">
                    <label>发表回复：</label>
                    <textarea rows="8" id="reply_text"></textarea>
                </div>
                <button class="ui button" onclick="reply()">发表</button>
            </div>
            <div class="ui hidden divider"></div>
        </div>
    </div>


</body>

</html>