<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <title>Blogsite</title>
    <!-- 使用本地的样式与js文件 -->
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script type="text/javascript" src="{% static 'js/semantic.min.js'%}"></script>
    <script src="{%  static 'js/jquery-3.2.1.min.js' %}"></script>
    <!-- 也可以直接使用CDN链接 -->
    <!--
    <link href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
    -->
     <script>
        $('.menu .item').tab();
     </script>
  </head>
  <body>
    <!-- 目录结构 -->

<div class="ui inverted left fixed vertical pointing menu">
  <div class="ui container">
    <img src="/img/kk.png">
    <a class="item" data-tab="home">个人信息</a>
    <a class="active item" data-tab="work">课程表</a>
    <a class="item">
        <div class="ui label">5</div>消息
    </a>
    <a class="item">留言板</a>
  </div>
</div>





    <!-- 正文 -->


<div class="ui bottom attached active tab segment" data-tab="work">
    <div class="ui container">
        <div class="ui link cards">
          <div class="card">
            <div class="image">
              <img src="/img/1.jpg">
            </div>
            <div class="content">
              <div class="header">软件需求工程</div>
              <div class="meta">
                <a>邢卫</a>
                <a></a>
                <a>刘玉生</a>
              </div>
              <div class="description">asildjaslkdjaslkjdlas</div>
            </div>
            <div class="extra content">
              <span> 专业课 </span>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="/img/1.jpg">
            </div>
            <div class="content">
              <div class="header">软件需求工程</div>
              <div class="meta">
                <a>邢卫</a>
                <a></a>
                <a>刘玉生</a>
              </div>
              <div class="description">asildjaslkdjaslkjdlas</div>
            </div>
            <div class="extra content">
              <span> 专业课 </span>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="/img/1.jpg">
            </div>
            <div class="content">
              <div class="header">软件需求工程</div>
              <div class="meta">
                <a>邢卫</a>
                <a></a>
                <a>刘玉生</a>
              </div>
              <div class="description">asildjaslkdjaslkjdlas</div>
            </div>
            <div class="extra content">
              <span> 专业课 </span>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="/img/1.jpg">
            </div>
            <div class="content">
              <div class="header">软件需求工程</div>
              <div class="meta">
                <a>邢卫</a>
                <a></a>
                <a>刘玉生</a>
              </div>
              <div class="description">asildjaslkdjaslkjdlas</div>
            </div>
            <div class="extra content">
              <span> 专业课 </span>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="/img/1.jpg">
            </div>
            <div class="content">
              <div class="header">软件需求工程</div>
              <div class="meta">
                <a>邢卫</a>
                <a></a>
                <a>刘玉生</a>
              </div>
              <div class="description">asildjaslkdjaslkjdlas</div>
            </div>
            <div class="extra content">
              <span> 专业课 </span>
            </div>
          </div>
        </div>
    </div>
</div>


<div class="ui three item bottom fixed menu">
  <a class="item" href="http://10.202.78.12/">浙江大学现代教务管理系统</a>
  <a class="item" href="https://mail.zju.edu.cn/">浙江大学邮件系统</a>
  <a class="item active" href="http://cc98.org">cc98论坛</a>
</div>




  </body>
</html>

